<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>module</title>
</head>
<body>
<div ng-app="myApp" ng-controller="DemoController">
    <!--ng-app与创建的模块的名字（即第一个参数）保持一致-->
    <!--ng--controller表示包含的数据由***控制器控制-->
    <h1>使用NG实现双边数据绑定</h1>
    <p><input type="text" placeholder="请输入姓名" ng-model="user.name"></p>
    <p>hello <strong>{{user.name}}</strong></p>
    <input type="button" ng-click="show()" value="点击">
</div>
</body>
<script src="angular.js"></script>
<script>
    //注册模块  通过module函数，
    //第一个参数是这个模块的名字
    //第二个参数是这个模块所依赖的模块（必须有第二个参数！！！不依赖任何模块则写空数组）
    var app = angular.module('myApp',[]);

    //app.controller用于创建一个控制器，所创建的控制器属于myApp模块
    //第二个参数是一个函数，是当控制器执行时会自动执行的函数
    //控制函数的参数中有一个$scope，所有页面中用到的数据模型都会存在$scope中
    app.controller('DemoController', function ($scope) {
        $scope.user = {};
        $scope.user.name = 'Jack';

        //$scope不仅可以往视图中暴露数据，还可以暴露行为
        $scope.show = function () {
            console.log(this.user);
        }
    });//所有控制器都建议以controller结尾
</script>
</html>