<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器02</title>
    <script src="angular.js"></script>
    <script>
        angular.module('app', [])
                .controller('ListController', ['$scope',function ($scope) {
                    $scope.todos = [
                        {id:0.131, text:'学习',completed:false},
                        {id:0.245, text:'吃饭',completed:true},
                        {id:0.543, text:'锻炼',completed:false},
                        {id:0.343, text:'睡觉',completed:true},
                        {id:0.756, text:'看电影',completed:true},
                        {id:0.854, text:'打游戏',completed:true}
                    ];
                }])
    </script>
</head>
<body ng-app="app">
<div ng-controller="ListController">
    <ul>
        <!--<li ng-repeat="item in todos | filter:'看'">-->
        <!--详细使用见0017的31行-->
        <li ng-repeat="item in todos | filter:{completed:true}">
            <span>{{item.id}}</span>
            <span>{{item.text}}</span>
            <span>{{item.completed}}</span>
        </li>
    </ul>
</div>
</body>
</html>