<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="0017--todomvc/todomvc-app-template-master/node_modules/todomvc-app-css/index.css">
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="0017--todomvc/todomvc-app-template-master/css/app.css">
    <script src="0017--todomvc/js/angular.js"></script>
    <script src="0017--todomvc/js/angular-route.js"></script>
    <script src="test-smain.js"></script>
    <script src="test-cmain.js"></script>
    <script src="test--app.js"></script>
</head>
<body ng-app="app">
<div ng-view></div>
<script id="main_tmpl" type="text/ng-template">
    <section class="todoapp" ng-controller="MainController">
        <header class="header">
            <h1>todos</h1>
            <form ng-submit="add()">
                <input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="text">
            </form>
        </header>

        <section class="main" ng-show="todos.length">
            <input class="toggle-all" type="checkbox" ng-click="toggleAll()">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <li ng-repeat="item in todos | filter:selector:equalCompare" ng-class="{completed:item.completed,editing:item.id===currentEditingId}" data-id="{{item.id}}">
                    <div class="view">
                        <input class="toggle" type="checkbox" checked ng-model="item.completed" ng-change="toggle()">
                        <label ng-dblclick="editing(item.id)">{{item.text}}</label>
                        <button class="destroy" ng-click="remove(item.id)"></button>
                    </div>
                    <form ng-submit="save()">
                        <input class="edit" ng-model="item.text" ng-blur="save()">
                    </form>
                </li>

            </ul>
        </section>

        <footer class="footer" ng-show="todos.length">
            <span class="todo-count"><strong>{{todos.length}}</strong> item left</span>
            <ul class="filters">
                <li>
                    <a ng-class="{selected:selector.completed == undefined}" href="#/">All</a>
                </li>
                <li>
                    <a ng-class="{selected:selector.completed == false}" href="#/active">Active</a>
                </li>
                <li>
                    <a ng-class="{selected:selector.completed == true}" href="#/completed">Completed</a>
                </li>
            </ul>

            <button class="clear-completed">Clear completed</button>
        </footer>
    </section>
</script>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

</body>
</html>
